*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #000;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
#content{
    width: 90%;
    max-width: 600px;
    border-radius:20px ;
    background: white;
    color: black;
    padding: 30px;
    text-align: center;
    position: relative;
}
h1{
    margin-bottom:20px;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}
span{
    padding-top: 10px;
    position: absolute;
    right: 30px;
}
button{
    position: relative;
    bottom: -30px;
    background: #000;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    margin: 20px;
}
button:hover{
    background-color: white;
    font-weight: bold;
    color: black;
}